In [1]:
#dropping columns
#dropping rows
#various parameter in dropping functionalities
#handling missing values by mean median mode

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').getOrCreate()

In [3]:
spark.read.csv('test2.csv',header=True,inferSchema=True)

DataFrame[name: string, age: int, experience: int, salary: int]

In [4]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|   fazila| 20|      null| 30000|
|jabarulla| 50|        40| 40000|
|     null| 40|        17| 50000|
|  mohamed| 30|        16|  null|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [6]:
df_pyspark.drop('name').show()

+---+----------+------+
|age|experience|salary|
+---+----------+------+
| 21|        11| 10000|
| 30|        12| 20000|
| 20|      null| 30000|
| 50|        40| 40000|
| 40|        17| 50000|
| 30|        16|  null|
| 60|        30| 70000|
| 70|        30| 80000|
| 30|        10| 90000|
+---+----------+------+

In [8]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|jabarulla| 50|        40| 40000|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [10]:
## any = how
df_pyspark.na.drop(how="all").show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|   fazila| 20|      null| 30000|
|jabarulla| 50|        40| 40000|
|     null| 40|        17| 50000|
|  mohamed| 30|        16|  null|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [11]:
## any = how
df_pyspark.na.drop(how="any").show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|jabarulla| 50|        40| 40000|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [15]:
#threshold - atleast 4 non null value present in the row
df_pyspark.na.drop(how="any",thresh=4).show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|jabarulla| 50|        40| 40000|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [16]:
#subset
df_pyspark.na.drop(how="any",subset=['experience']).show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|jabarulla| 50|        40| 40000|
|     null| 40|        17| 50000|
|  mohamed| 30|        16|  null|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [20]:
##filling the missing value - replace it with a words
df_pyspark.na.fill('Missing Value').show()

+-------------+---+----------+------+
|         name|age|experience|salary|
+-------------+---+----------+------+
|        fazil| 21|        11| 10000|
|         umar| 30|        12| 20000|
|       fazila| 20|      null| 30000|
|    jabarulla| 50|        40| 40000|
|Missing Value| 40|        17| 50000|
|      mohamed| 30|        16|  null|
|    abuthahir| 60|        30| 70000|
|        vijay| 70|        30| 80000|
|        surya| 30|        10| 90000|
+-------------+---+----------+------+

In [21]:
##filling the missing value - replace it with a words
df_pyspark.na.fill('Missing Value',['age','experience']).show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|   fazila| 20|      null| 30000|
|jabarulla| 50|        40| 40000|
|     null| 40|        17| 50000|
|  mohamed| 30|        16|  null|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [23]:
df_pyspark.show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|   fazila| 20|      null| 30000|
|jabarulla| 50|        40| 40000|
|     null| 40|        17| 50000|
|  mohamed| 30|        16|  null|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [28]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'experience', 'salary'],
    outputCols=["{}_imputed".format(c) for c in ['age', 'experience', 'salary']]
).setStrategy("mean")

In [32]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+---+----------+------+-----------+------------------+--------------+
|     name|age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+---------+---+----------+------+-----------+------------------+--------------+
|    fazil| 21|        11| 10000|         21|                11|         10000|
|     umar| 30|        12| 20000|         30|                12|         20000|
|   fazila| 20|      null| 30000|         20|                20|         30000|
|jabarulla| 50|        40| 40000|         50|                40|         40000|
|     null| 40|        17| 50000|         40|                17|         50000|
|  mohamed| 30|        16|  null|         30|                16|         48750|
|abuthahir| 60|        30| 70000|         60|                30|         70000|
|    vijay| 70|        30| 80000|         70|                30|         80000|
|    surya| 30|        10| 90000|         30|                10|         90000|
+---------+---+----------+------+-----------+------------------+--------------+