In [ ]:
#pyspark dataframe
#reading dataset
#checking datatypes of the column
#check describe options similar to pandas
#adding columns
#dropping columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
#df_pyspark=spark.read.option('header','true').csv('test1.csv').show()

In [5]:
#inferschema = string, integer 
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [6]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [7]:
df_pyspark.select(['name']).show()

+------+
|  name|
+------+
| fazil|
|  umar|
|fazila|
+------+

In [8]:
# No show funtion, will get error
df_pyspark['name'].show()

TypeError: 'Column' object is not callable

In [9]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [10]:
df_pyspark.describe().show()

+-------+-----+------------------+-----------------+
|summary| name|               age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    3|                 3|                3|
|   mean| null|23.666666666666668|8.333333333333334|
| stddev| null| 5.507570547286102|5.507570547286102|
|    min|fazil|                20|                2|
|    max| umar|                30|               12|
+-------+-----+------------------+-----------------+

In [11]:
## adding columns
df_pyspark=df_pyspark.withColumn('Experience after 2 years', df_pyspark['Experience']+2)

In [12]:
df_pyspark.show()

+------+---+----------+------------------------+
|  name|age|Experience|Experience after 2 years|
+------+---+----------+------------------------+
| fazil| 21|        11|                      13|
|  umar| 30|        12|                      14|
|fazila| 20|         2|                       4|
+------+---+----------+------------------------+

In [14]:
# dropping column
df_pyspark=df_pyspark.drop('Experience after 2 years')

In [16]:
df_pyspark.show()

+------+---+----------+
|  name|age|Experience|
+------+---+----------+
| fazil| 21|        11|
|  umar| 30|        12|
|fazila| 20|         2|
+------+---+----------+

In [19]:
## Rename the column
df_pyspark.withColumnRenamed('name','new name')

DataFrame[new name: string, age: int, Experience: int]

In [20]:
df_pyspark.withColumnRenamed('name','new name').show()

+--------+---+----------+
|new name|age|Experience|
+--------+---+----------+
|   fazil| 21|        11|
|    umar| 30|        12|
|  fazila| 20|         2|
+--------+---+----------+