In [1]:
#pyspark dataframe
#filetr operation
#&,|,==
# ~

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|   fazila| 20|        32| 30000|
|jabarulla| 50|        40| 40000|
|   asathi| 40|        17| 50000|
|  mohamed| 30|        16| 60000|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [5]:
#salary of the people less than or equal to 500000
df_pyspark.filter('salary<=50000').show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|   fazila| 20|        32| 30000|
|jabarulla| 50|        40| 40000|
|   asathi| 40|        17| 50000|
+---------+---+----------+------+

In [7]:
df_pyspark.filter((df_pyspark['Salary']<=60000) | 
                  (df_pyspark['Salary']>=10000)).show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|    fazil| 21|        11| 10000|
|     umar| 30|        12| 20000|
|   fazila| 20|        32| 30000|
|jabarulla| 50|        40| 40000|
|   asathi| 40|        17| 50000|
|  mohamed| 30|        16| 60000|
|abuthahir| 60|        30| 70000|
|    vijay| 70|        30| 80000|
|    surya| 30|        10| 90000|
+---------+---+----------+------+

In [9]:
df_pyspark.filter(~(df_pyspark['Salary']<=74000)).show()

+-----+---+----------+------+
| name|age|experience|salary|
+-----+---+----------+------+
|vijay| 70|        30| 80000|
|surya| 30|        10| 90000|
+-----+---+----------+------+