In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [2]:
spark

In [3]:
df_pyspark=spark.read.csv('test4.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+---------+------------+------+
|     name|  department|salary|
+---------+------------+------+
|    fazil|Data science| 10000|
|    fazil|         IOT| 20000|
|    fazil|   Big data | 30000|
|jabarulla|   Big data | 40000|
|jabarulla|Data science| 50000|
|    vijay|         IOT| 60000|
|abuthahir|   Big data | 70000|
|    vijay|   Big data | 80000|
|    surya|Data science| 90000|
+---------+------------+------+

In [5]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [6]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|abuthahir|      70000|
|    fazil|      60000|
|    surya|      90000|
|jabarulla|      90000|
|    vijay|     140000|
+---------+-----------+

In [7]:
df_pyspark.groupBy('Name').avg().show()

+---------+-----------+
|     Name|avg(salary)|
+---------+-----------+
|abuthahir|    70000.0|
|    fazil|    20000.0|
|    surya|    90000.0|
|jabarulla|    45000.0|
|    vijay|    70000.0|
+---------+-----------+

In [9]:
### Groupby Departmernts  which gives maximum salary
df_pyspark.groupBy('department').sum().show()

+------------+-----------+
|  department|sum(salary)|
+------------+-----------+
|         IOT|      80000|
|Data science|     150000|
|   Big data |     220000|
+------------+-----------+

In [11]:
df_pyspark.groupBy('department').mean().show()

+------------+-----------+
|  department|avg(salary)|
+------------+-----------+
|         IOT|    40000.0|
|Data science|    50000.0|
|   Big data |    55000.0|
+------------+-----------+

In [13]:

df_pyspark.groupBy('department').count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IOT|    2|
|Data science|    3|
|   Big data |    4|
+------------+-----+

In [14]:

df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     450000|
+-----------+